@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    position: relative;
    background: rgb(37, 39, 54);
    height: 100vh;
}

.header_upper{
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(16, 28, 66);
    position: absolute;
    transition: .3s;
}

.header_upper ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.header_upper ul li a{
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 20px 0;
    font-size: 22px;
    position: relative;
}

.header_upper ul li a:hover::before{
    opacity: 1;
}

.header_upper ul li a::before{
    content: "";
    background: rgb(0, 162, 255);
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.header_upper ul li a span{
    padding-left: 100px;
    position: relative;
}

.toggle{
    position: absolute;
    height: 50px;
    width: 50px;
    background: rgb(0, 162, 255);
    top: 40px;
    right: 50px;
    cursor: pointer;
}

.toggle::before,
.toggle::after{
    content: '';
    width: 50%;
    left: 25%;
    background: white;
    height: 2px;
    top: 47%;
    position: absolute;
}

.toggle::before{
    transform: translateY(-5px);
}

.toggle::after{
    transform: translateY(5px);
}

.header_upper.left{
    left: -300px;
}

@media screen and (max-width:450px){

    .header_upper{
        width: 100%;
    }
    
    .header_upper.left{
        left: -100%;
    }
    
    .header_upper ul li a span{
        padding-left: 0px;
    }
    
    .header_upper ul li a{
        text-align: center;
    }
}